<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulp Starter Template</title>
    <link rel="stylesheet" href="./vendor/bulma/bulma.css">
    <link rel="stylesheet" href="./vendor/bulma-helpers/bulma-helpers.css">
</head>