<!DOCTYPE html>
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        .container
            .title 測試 Pug
            h1 hee hee
            p good show